/* GENERAL */
* {
    font-family: system-ui, Roboto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: #16104a;
    color: white;
}

/* BANNERS */
.main-header, .sub-header {
    text-align: center;
    margin: 0px;
    padding-bottom: 10px;
}

/* LABELS */
.mode-label {
    font-size: 18px;
}

.opponent-score-label, .player-score-label {
    width: 200px;
    padding: 50px;
}

.game-winner-label, .game-over-label {
    margin: 0px;
}

/* CONTAINERS */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.header-container {
    background-color: black;
    padding-top: 10px;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 430px;
    width: 200px;
    background-color: #47210c;
    border: 5px solid black;
    border-radius: 100px;
    overflow: hidden;
}

.mode-button-container {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 80px;
}

.centered-icon-container {
    display: flex;
    justify-content: center;
}

/* BUTTONS */
.game-button {
    width: 90px;
    height: 90px;
    background-color: #4C4B63;
    color: white;
    font-size: 18px;
    text-align: center;
    border: 3px solid #4C4B63;
    border-radius: 10px;
}

.game-button:hover {
    background-color: #16104a;
    border: 3px solid #4C4B63;
    border-radius: 10px;
}

.rps-game-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart-button {
    margin-top: 30px;
    padding: 10px;
    background-color: #4C4B63;
    color: white;
    font-size: 18px;
    border: 3px solid #4C4B63;
    border-radius: 10px;
}

.restart-button:hover {
    background-color: #16104a;
    border: 3px solid #4C4B63;
    border-radius: 10px;
}

/* QUICK METHODS */
.center-text {
    text-align: center;
}

.rps-icon-resize {
    height: 90px;
    width: 90px;
}

.action-icon-resize {
    height: 160px;
    width: 160px;
}

.head-icon {
    height: 160px;
    width: 113px;
    padding-bottom: 25px;
}

/* OTHER */
.table-container .table-rounding {
    border-radius: inherit;
    overflow: hidden;
}

footer {
    padding: 5px;
    background-color: black;
    text-align: center;
}
